In [22]:
import numpy as np
import pandas as pd

In [23]:
data = pd.read_csv('train.csv')
epsilon = 0.001
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,6.9,0.17,0.36,2.30,0.036,40.0,117.0,0.99340,3.07,1.10,10.5,5
1,6.5,0.21,0.34,13.00,0.053,55.0,177.0,0.99830,3.32,0.59,10.9,5
2,6.3,0.19,0.24,2.70,0.052,36.0,135.0,0.99374,3.60,0.81,11.9,6
3,5.6,0.17,0.27,2.70,0.030,31.0,103.0,0.98892,3.15,0.52,14.2,6
4,6.6,0.24,0.39,2.45,0.040,40.0,89.0,0.99110,3.15,0.55,12.5,5

In [24]:
X = np.array(data)[:,:-1]
y = np.array(data)[:,-1]
X

array([[ 6.9 ,  0.17,  0.36, ...,  3.07,  1.1 , 10.5 ],
       [ 6.5 ,  0.21,  0.34, ...,  3.32,  0.59, 10.9 ],
       [ 6.3 ,  0.19,  0.24, ...,  3.6 ,  0.81, 11.9 ],
       ...,
       [ 6.  ,  0.18,  0.26, ...,  3.1 ,  0.51,  9.8 ],
       [ 5.4 ,  0.36,  0.4 , ...,  3.22,  0.67, 10.  ],
       [ 6.1 ,  0.38,  0.31, ...,  3.02,  0.92, 10.5 ]])

In [25]:
def normalize(mat):
    a = np.array(mat)
    a = a.astype(np.float)
    b = np.apply_along_axis(lambda x: (x - np.min(x)) /
                            float(np.max(x) - np.min(x)), 0, a)
    return b

In [26]:
X = normalize(X)
def MSE(x):
    sum_list = 0
    for i in x:
        sum_list += i
    sumError = [(t - sum_list/len(x))**2 for t in x]
    mse = sum(sumError) / len(x)
    return mse

In [27]:
def splitVal(a):
    parentMSE = MSE(a)
    a.sort()
    t = a[0]
    min_gain = 999999
    min_t = 1
    while t<a[-1]-epsilon:
        t += epsilon
        leftIndex = sum( i > t for i in a)
        rightIndex = len(a) - leftIndex
        leftList = a[:leftIndex]
        rightList = a[leftIndex:]
        leftMSE = MSE(leftList)
        rightMSE = MSE(rightList)
        infGain = (leftIndex/(leftIndex+rightIndex)) * leftMSE + (rightIndex/(leftIndex+rightIndex)) * rightMSE
        if infGain < min_gain:
            min_t = t
    return min_t

In [28]:
X

array([[0.29807692, 0.09278351, 0.21686747, ..., 0.5       , 0.84883721,
        0.25757576],
       [0.25961538, 0.13402062, 0.20481928, ..., 0.72727273, 0.25581395,
        0.31818182],
       [0.24038462, 0.11340206, 0.14457831, ..., 0.98181818, 0.51162791,
        0.46969697],
       ...,
       [0.21153846, 0.10309278, 0.15662651, ..., 0.52727273, 0.1627907 ,
        0.15151515],
       [0.15384615, 0.28865979, 0.24096386, ..., 0.63636364, 0.34883721,
        0.18181818],
       [0.22115385, 0.30927835, 0.18674699, ..., 0.45454545, 0.63953488,
        0.25757576]])

In [ ]:
splitVal(X[:,0])